@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure AI Experiment Web App</h1>
    <p>Powered by ITU Students - <a href="https://www.itu.edu.tr">Building AI infused apps with ITU Students</a>.</p>
</div>